.mainCarousel {
    @apply w-full min-h-2/3 flex flex-col px-12 bg-cover bg-center flex-auto;
}

.carouselArrow {
    @apply w-8 h-8 border-solid border border-black rounded-full text-center leading-relaxed bg-white cursor-pointer hover:bg-opacity-50 select-none;
}

.react-icons {
    margin-right: 1rem;
}

.navLinks {
    @apply text-center m-4 block md:inline-block hover:text-black;
}


/*Styling Menu Card*/

.name 
{
    float: left;
    position: absolute;
}

.dropdown nav 
{
    display: none;
}

.dropdown nav 
{
    display: none;
}
.dropdown:focus-within nav 
{
    display: block
}




dt {
    float: left;
    clear: both;
    min-width: 6em;
    font-weight: bold;
}
dt:after {
    content: ":";
}
dd {
    float: left;
    min-width: 8em;
}

