.mainCarousel {
    @apply w-full min-h-2/3 flex flex-col p-12 -mb-12 bg-cover bg-center flex-auto;
}

.carouselArrow {
    @apply w-8 h-8 border-solid border border-black rounded-full text-center leading-relaxed bg-white cursor-pointer hover:bg-opacity-50 select-none;
}

.react-icons {
    margin-right: 1rem;
}

.navLinks {
    @apply block mt-4 sm:inline-block sm:mt-0 hover:text-white mx-4;
}

/* .backgroundMatrix {
    transform: matrix(1, -0.05, 0, 1, 0, 0);
} */

/*Styling Menu Card*/

.name 
{
    float: left;
    position: absolute;
}

.dropdown nav 
{
    display: none;
}

.dropdown nav 
{
    display: none;
}
.dropdown:focus-within nav 
{
    display: block
}


 